<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
body{
background-color: #fff7f8;
}

.box1 h1{
    background-color:#303637;
    color: #ffffff;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
   
}
.box2 h2{
    color: #797979;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    font-size: 150px;
    padding-left:5%;
    width: 200px;
}
.box3 h3{
    color: #797979;
    font-size: 125px;
    /* width: 100px;
    padding-top:100px ;
    padding-left:30%; */
    position:absolute;
    bottom: 300px;
    left:360px;
}
.box4 h4{
    color: #797979;
    font-size: 100px;
    position:absolute;
    bottom: 20%;
    left:7%;
}
.box5 h5{
    color: #797979;
    font-size: 100px;
    position:absolute;
    bottom: 5%;
    left:18%;
}
.box6 h6{
    color: #797979;
    font-size: 100px;
    position:absolute;
    bottom: 0%;
    left:29%;
}
.box7 h7{
    color: #797979;
    font-size: 100px;
    position:absolute;
    bottom: 25%;
    left:40%;
}
.box8 p{
    background-color: #303637;
    color: #ffffff;
    font-size: 10px;
    position:absolute;
    bottom: 0%;
    width: 97%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-right: 2%;
    text-align: center;
    
    

} 
/* body {
    width:100%;
} */
.myButton {
/* -moz-box-shadow: 0px 0px 0px 0px #a4e271; */
-moz-box-shadow: 0px 0px 0px 0px #000000;
-webkit-box-shadow: 0px 0px 0px 0px #a4e271;
box-shadow: 0px 0px 0px 0px #a4e271;
/* “登录”方框颜色 */
background-color:#fff7f8;
-moz-border-radius:28px;
-webkit-border-radius:28px;
border-radius:28px;
/* “登录”方框边边颜色 */
border:1px solid #fff7f8;
display:inline-block;
cursor:pointer;
/* "登录"的字体颜色 */
color:#000000; 
font-family:Arial;
/* 字体大小 */
font-size:17px;
/* 登录方框的大小 */
padding: 3px 50px;
/* 密码与登录框之间的距离 */
margin-top: 30px;
text-decoration:none;
text-shadow:0px 1px 0px #528009;
}
.myButton:hover {
    background-color:rgb(245, 168, 168);
}
.myButton:active {
    position:relative;
    top:1px;
}
input{
    /* border: 1px solid #cae; */
    /* 字体颜色 */
    color:rgb(0, 0, 0);
}
    /* hr{
        border:1px solid #cea;
    } */

/* .controls{
    color: #555555;
    font-weight: bold;

} */

.container{
    color: #555555;
    font-weight: bold;
    background-color:#ffffff; 
      /* width: 20%;
    margin-left: 70%;
    margin-top: 10%; */
    padding-left: 5%;
    padding-right: 5%;
   padding-top: 2%;
   padding-bottom: 2%;
   border-radius: 10px; 
   position: absolute;
   left:70%;
   top: 30%


   
   
}
/* .form-horizonta{
    content : "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image:url(imgs/pic2.png) no-repeat ;
} */

#a{
    font-size: 10px;
    font-weight: normal;
    color: #797979;
}
#b{
    font-size: 10px;
    font-weight: normal;
    color: #797979;
}
    </style>

</head>


<body>
    <div class="box1">
        <h1>鉴星矫正</h1>
    </div>
    <div class="box2">
        <h2>鉴</h2> 
    </div>
    <div class="box3">
        <h3>星</h3>
    </div>
    <div class="box4">
        <h4>牙</h4>
    </div>
    <div class="box5">
        <h5>齿</h5>
    </div>
    <div class="box6">
        <h6>矫</h6>
    </div>
    <div class="box7">
        <h7>正</h7>
    </div>
    <div class="box8">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Voluptatibus suscipit sed fuga natus amet nostrum illum ut quia hic odit.
              Aut, veritatis? Veniam voluptatum consequatur, in reiciendis culpa accusantium sit.
        </p>
    </div>
    <form class="form-horizontal" action="/login" method="post"  >
        <div class="container">

            <!-- <fieldset> -->
                <!-- <div id="legend" class="">
                    <legend class="leipiplugins-orgvalue">Login</legend>
                    <hr>
                </div> -->
                <!-- <div class="control-group"> -->
                    <!-- Text -->
                    <div class="controls">
                        <td>用户名 </td>
                        <input name="name" type="text" placeholder="请输入您的用户名" title="用户名" value="" class="leipiplugins" leipiplugins="text">
                    </div>
                <!-- </div> -->
                <br>
                <!-- <div class="control-group"> -->
                    <!-- Text -->
                    <div class="controls">
                        <td>密&emsp;码</td>
                        <input name="password" type="password" placeholder="请输入您的密码" title="密码" value="" class="leipiplugins" leipiplugins="text">
                        <br>
                        <br>
                        <label id="a"><input type="checkbox" value="记住密码"  >记住密码</label> <label id="b"><input type="checkbox" value="十天内免登录"  >十天内免登录</label>
                    </div>
                <!-- </div> -->
               
                 <input class="myButton" type="submit" value="登录">
            <!-- </fieldset> -->
        </div>
    </form>
</body>

</html>